In [1]:
import pandas as pd
import numpy as np

import psycopg2 as pg
import pandas.io.sql as psql

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
connection = pg.connect(dbname='brent', user='brent', host='localhost', password='brent')
cur = connection.cursor()
table_names = ['addresses','categories',
            'categories_products','category_features','clients',
               'companies','featured_items','invitations','order_items',
               'orders','popular_items','products','projects','projects_collaborators',
               'projects_products','proposal_product','proposals','saved_searches',
               'schema_version','showrooms','showrooms_vendors','spring_session',
               'spring_session_attributes','styles','user_addresses',
               'users','vendors','vendors_styles']
d = {}
for i in table_names:
    cur.execute('SELECT * FROM {}'.format(i))
    the_data = cur.fetchall()
    colnames = [desc[0] for desc in cur.description]

    d[i] = pd.DataFrame(the_data)
    if len(d[i].columns) == len(colnames):
        d[i].columns = colnames
    else:
        print i

d_dyn = {}
d_categories = {}
# c = 0
for idx,i in enumerate(d['products']['dynamoid']):
#     if c == 1000:
#         break
    if "|" not in i:
        d_dyn[d['products']['id'][idx]] = i
#         c+=1
    else:
        ret = i.split('|')
        d_dyn[d['products']['id'][idx]] = ret[-1]
        d_categories[d['products']['id'][idx]] = ret[-2]
#         c+=1

categories_products

In [3]:
cats = set()
for key, val in d_categories.iteritems():
    cats.update(val)
print cats

set(['3'])

In [4]:
titles = set()
for idx, i in enumerate(d['products']['title']):
    titles.update(i)
print len(titles)

TypeError: 'NoneType' object is not iterable

In [5]:
len(set(d['products']["title"]))

32916

In [6]:
d['popular_items'].head()

   id  item_id item_type                    updated  score  is_hidden
0   1    40624   PRODUCT 2017-03-06 10:44:55.065700      1      False
1   2    95888   PRODUCT 2017-03-06 10:44:55.065700      1      False
2   4   304157   PRODUCT 2017-03-06 10:44:55.065700      1      False
3   5    96139   PRODUCT 2017-03-06 10:44:55.065700      1      False
4   6   250117   PRODUCT 2017-03-06 10:44:55.065700      1      False

In [7]:
d['popular_items']['item_type'].unique()

array(['PRODUCT'], dtype=object)

In [8]:
len(d['popular_items']['item_id'].unique())

11685

In [9]:
d['popular_items']['score'].unique()

array([ 1,  6,  2,  5,  7, 10, 12,  4, 11,  3, 13,  8, 28, 15,  9, 14, 19,
       16, 31, 21, 23, 18, 17, 22, 25, 27, 20, 36])

In [10]:
for i in d['popular_items'].columns:
    print i, len(d['popular_items'][i].unique())

id 11685
item_id 11685
item_type 1
updated 10341
score 28
is_hidden 1

## popular item counter

In [11]:
keys = []
d_pop = {}
for idx in range(0,len(d['popular_items'])):
    if d['popular_items']['score'][idx] not in keys:
        d_pop[d['popular_items']['score'][idx]] = list()
        keys.append(d['popular_items']['score'][idx]) 
    d_pop[d['popular_items']['score'][idx]].append(d['popular_items']['item_id'])

In [12]:
popularity = []
for key, val in d_pop.iteritems():
    popularity.append([key, len(val)])

In [13]:
popu = pd.DataFrame(popularity)

# plt.scatter(popularity)

In [6]:
import sys
sys.path.append("..")
import Data.pull_df_from_mongo as pull_df
import pandas as pd
import numpy as np

In [9]:
import model.transform_df as ld

In [10]:
df = ld.main()

set(['Mid-Century', 'Rustic', 'Arts and Crafts', 'Geometric', 'Rococo', 'Folk Art', 'nan', 'Regency', 'Neoclassical', 'Stripe', 'Floral', 'Coastal ', 'Mid Century', 'Country ', 'Transitional', 'Solid', 'Country', 'Tribal', 'Traditional', 'Victorian', 'Art Nouveau', 'Hollywood Regency', 'Baroque', 'Woven', 'Prints', 'Industrial', 'Classic', 'Abstract', 'Modern', 'Contemporary', 'Transitional ', 'Gothic', 'Asian', 'Coastal', 'Southwestern', 'Art Deco', 'Louis XVI'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186626 entries, 0 to 186625
Data columns (total 82 columns):
brand                     21554 non-null object
directCategory            178158 non-null object
images                    186626 non-null object
objectID                  186626 non-null object
priceLevel                128823 non-null object
showrooms                 130123 non-null object
site                      184116 non-null object
styles                    42266 non-null object
text                      165945 non-null object
title                     186393 non-null object
dim_diameter              186626 non-null float64
dim_arm_width             186626 non-null float64
dim_diam                  186626 non-null float64
dim_projection            186626 non-null float64
dim_wide                  186626 non-null float64
dim_back_rail_height      186626 non-null int64
dim_depth                 186626 non-null float64
dim_deep                  186626 non-null float64
dim_height                186626 non-null float64
dim_width                 186626 non-null float64
dim_length                186626 non-null float64
dim_overall_height        186626 non-null float64
dim_footboard_height      186626 non-null float64
dim_tall                  186626 non-null int64
dim_seat_height           186626 non-null float64
dim_seat_width            186626 non-null float64
dim_arm_height            186626 non-null float64
dim_seat_depth            186626 non-null float64
dim_armheight             186626 non-null float64
dim_backplate             186626 non-null int64
Categories_lvl2           186626 non-null object
Categories_lvl3           186626 non-null object
Categories_lvl0           186626 non-null object
Categories_lvl1           186626 non-null object
color_blue                186626 non-null float64
color_brown               186626 non-null float64
color_gray                186626 non-null float64
color_purple              186626 non-null float64
color_yellow              186626 non-null float64
color_pink                186626 non-null float64
color_green               186626 non-null float64
color_teal                186626 non-null float64
color_orange              186626 non-null float64
color_black               186626 non-null float64
color_white               186626 non-null float64
color_red                 186626 non-null float64
Mid-Century_style         186626 non-null int64
Rustic_style              186626 non-null int64
ArtsandCrafts_style       186626 non-null int64
Geometric_style           186626 non-null int64
Rococo_style              186626 non-null int64
FolkArt_style             186626 non-null int64
nan_style                 186626 non-null int64
Regency_style             186626 non-null int64
Neoclassical_style        186626 non-null int64
Stripe_style              186626 non-null int64
Floral_style              186626 non-null int64
Country_style             186626 non-null int64
Solid_style               186626 non-null int64
Tribal_style              186626 non-null int64
Traditional_style         186626 non-null int64
Victorian_style           186626 non-null int64
ArtNouveau_style          186626 non-null int64
HollywoodRegency_style    186626 non-null int64
Baroque_style             186626 non-null int64
Woven_style               186626 non-null int64
Prints_style              186626 non-null int64
Industrial_style          186626 non-null int64
Classic_style             186626 non-null int64
Abstract_style            186626 non-null int64
Modern_style              186626 non-null int64
Contemporary_style        186626 non-null int64
Gothic_style              186626 non-null int64
Asian_style               186626 non-null int64
Southwestern_style        186626 non-null int64
ArtDeco_style             186626 non-null int64
LouisXVI_style            186626 non-null int64
new_text                  186626 non-null object
c_style                   186626 non-null int64
t_style                   186626 non-null int64
Transitional_style        186626 non-null int64
Coastal_style             186626 non-null int64
dtypes: float64(29), int64(38), object(15)
memory usage: 116.8+ MB